<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="false">
	<parameter name="browser" value="firefox" />


	<!-- <listeners>
		<listener
			class-name="Utilities.ExtentITestListenerClassAdapter" />
	</listeners> -->

	<test name="BSTFT Application Test">
		<classes>
			<class name="Pages.LoginPage" />
			<class name="Pages.DetailsPage" />
			<class name="Pages.ApplicationPage" />						
		</classes>
		
 
	</test>
	

</suite>